body {
  font-family: Garamond;
}

h1 {
  color: black;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: black;
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ml-auto{
  margin-left:auto !important;
}
.mr-auto{
  margin-right:auto !important;
}

.col-md-10,.col-md-8,.col-md-4{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-8{flex:0 0 66.666667%;max-width:66.666667%}
.col-md-4{flex:0 0 33.333333%;max-width:33.333333%}
.col-md-10{flex:0 0 83.333333%;max-width:83.333333%}

.form-control {
  background: no-repeat bottom,50% calc(100% - 1px);
  background-image: none, none;
  background-size: auto, auto;
  background-size: 0 100%,100% 100%;
  border: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 14px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .4375rem 0;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border:none;
  background-color: transparent;
  background-clip: padding-box;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
  float: left;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .46875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-warning {
  color: #fff;
  background-color: #f08f00;
  border-color: #c27400;
}
.btn.btn-warning:active, .btn.btn-warning:focus, .btn.btn-warning:hover {
  box-shadow: 0 14px 26px -12px rgba(255,152,0,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(255,152,0,.2);
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow:visible;
}
#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-height: 70px;
  margin-top: 60px;
}

#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}

#textInput {
  width: 87%;
  border: none;
  border-bottom: 3px solid #009688;
  font-family: monospace;
  font-size: 17px;
}

#buttonInput {
  padding: 3px;
  font-family: monospace;
  font-size: 17px;
}

.userText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: right !important;
  line-height: 30px;
  margin: 5px;
}

.userText span {
  background-color: #009688;
  padding: 10px;
  border-radius: 2px;
}

.botTextBackground span {
  font-family: monospace;
  display: inline-block;
  color: white;
  background: #218c74;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
  padding: 20px;  
  margin: 5px;
}

.botText {
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
  margin: 5px;
}

#tidbit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}