<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
    <form>
        <div id="chatbox">
        </div>
        <div id="userInput" class="row">
            <div class="col-md-10">
                <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
                <!-- <button type="submit" id="send" class="btn btn-warning">Send</button> -->
            </div>
        </div>
    </form>
</div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            let initChat = '<div class="botTextBackground"><span>Halo, dengan dibot disini, dibot akan membantumu dalam menghitung<br>' + 
                        'jumlah kalori yang harus kalian konsumsi untuk menjaga kesehatan<br>agar tidak berlebihan\n ' + 
                        'atau kekurangan, agar dibot bisa membantumu <br> ' +
                        'cukup masukkan berat badan(kg) tinggi(cm) umur(tahun)</span></div>'
            $("#chatbox").append($.parseHTML(initChat));
        }, 1000)

        function checkAnswer() {
            $.ajax({
                type: "POST",
                url: "/answer"
            }).done(function(data) {
                let temp = ''
                for (const el in data){
                    temp = temp.concat(`${el}: ${data[el] == null ? '' : data[el]}<br>`)                    
                }
                let html = '<div class="botTextBackground"><span>data sekarang :<br>' + temp + '</span></div>'
                $("#chatbox").append($.parseHTML(html));
            })
        }

        $("form").on("submit", function(event) {
            let rawText = $("#text").val();
            let userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#text").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                let botHtml = '<p class="botText"><span>' + data.answer + "</span></p>";
                $("#chatbox").append($.parseHTML(botHtml));
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
                if(data.tag.includes("data")) {
                    checkAnswer();
                }
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>